@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
/*
Tipos de format ()
- opentype (otf)
- truetype (ttf)
- embedded-opentype
- truetype-aat (Apple Advanced Typography)
- svg
*/

/*
em HTML é id = em css é #. (um elemento)
em html é class = em css é. (vários elementos)
: = pseudo classe (Quando passar o mouse em algo ele altera de estado ":hover" )
:: = pseudo elemento
> = filho , (subclasse)
*/
@font-face {
    font-family: "carnaval";
    src: url(..//Algumas-fontes/Carnivalee/carnevalee-freakshow.ttf);
}
@font-face{
    font-family: 'ruberduck';
    src: url(..//Algumas-fontes/rubber_duck/Rubber-Duck.ttf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: 'dancingscript';
src: url(../Algumas-fontes/Dancing_Script/static/DancingScript-Regular.ttf)
}

body {
    font-family:"carnaval";
}

h1 {
    text-align: center;
    font-size: 40px;
}

a{
    color: red;
    text-decoration: none;
    font-weight: bolder;
}
a:visited {
    color: darkred;
}

a:hover{
    color: black;
text-decoration: underline;
}
a:active {
    color: blue;
}
a:before {
    content:'⇒';
    text-decoration: none;
    font-weight: normal;
    color: violet;
}
a:after {
    content: '⇐';
    text-decoration: none;
    font-weight: normal;
    color: violet;
}


div:hover {
    color: blue;
}
div:hover#links {
    color: aquamarine;
}
.especial {
    background-color: aquamarine;
}